@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form id="ChangePassword" class="reg-page">
                <div class="reg-header">
                    <h2>Change Your Password</h2>
                    @*<p>Already Signed Up? Click <a href="@Url.Action("Signin","Account")" class="color-green">Sign In</a> to login your account.</p>*@
                </div>

                <label>Old Password</label>
                <input type="password" id="txtOldPassword" class="form-control margin-bottom-20" />
                <label id="lblOldPassword" style="color:red;display:none"></label>
                <label>New Password <span class="color-red">*</span></label>
                <input type="password" id="txtNewPassword" class="form-control margin-bottom-20" />
                <label id="lblNewPassword" style="color:red;display:none"></label>
                <label>Confirm New Password <span class="color-red">*</span></label>
                <input type="password" id="txtNewConfirmPassword" class="form-control margin-bottom-20" />
                <label id="lblConfirmPassword" style="color:red;display:none"></label>

                <div class="row">
                    <div class="col-lg-4">
                        <button class="btn btn-success text-right" type="button" onclick="ChangePassword()">Change Password</button>
                    </div>
                    <div class="col-lg-4 col-lg-offset-4">
                        <button class="btn btn-success text-left" type="button" onclick="ResetForm()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!--/container-->

<script>
    function ChangePassword() {
        if (ValidateForm())
        {
            $.ajax({
                url: '@Url.Action("ChangePassword", "Account")',
                type:"POST",
                data: { NewPassword: $('#txtNewPassword').val() },
                success: function (data) {
                    if (data.IsSuccess) {
                        alert("Password Changed Successfully.");
                        window.location.reload();
                    }
                    else {
                        alert(data.ResponseValue);
                    }
                }
            });
        }

        function ValidateForm() {
            return true;
        }
    }

    function ResetForm() {

    }
</script>