@model BhagwatiSamaj.Models.User
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <form class="reg-page">
                <div class="reg-header">
                    <h2>Reset your Password</h2>
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", @placeholder = "Enter Email", @id = "txtEmailId" })
                    <label id="lblEmail" class="warning"></label>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn-u" type="button" onclick="CheckAndSendEmail()">Get Password</button>
                    </div>
                </div>
                <hr>
                <h4>Have a Password ?</h4>
                <p><a class="color-green" href="@Url.Action("SignIn","Account")">click here</a> to login in site.</p>
            </form>
        </div>
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->

<script>
    function CheckAndSendEmail() {
        var isValid = true;
        if ($('#txtEmailId').val() == "") {
            $('#lblEmailId').html("Please enter Email Id.");
            isValid = false;
        }
        if (isValid)
        {
            $.ajax({
                url: '@Url.Action("ForgetPassword","Account")',
                type: "POST",
                data: { EmailId: $('#txtEmailId').val() },
                success: function (data) {
                    if (data.IsSuccess) {
                        alert("Email of current password has been sent to given emailid, Please check you email and use that password for next login");
                        window.location.href = '@Url.Action("SignIn","Account")';
                    }
                    else {
                        alert(data.ResponseValue);
                    }
                }
            })
        }
        
    }
</script>