@model BhagwatiSamaj.Models.State

<div class="row">
    <div class="col-sm-12">
        <label>State Name<span class="color-red">*</span></label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control margin-bottom-20", @id = "txtNewState" })
        <label id="lblStateName" style="color:red;display:none"></label>
    </div>
    <div class="col-sm-12">
        <label>Select Country<span class="color-red">*</span></label>
        @{
            ViewBag.CountryList = ((List<BhagwatiSamaj.Models.Country>)ViewBag.CountryList).Where(x => x.Id != 0);
        }
        @Html.DropDownListFor(x => x.CountryId, new SelectList(ViewBag.CountryList, "Id", "Name", ViewBag.CountryId), new { @class = "form-control margin-bottom-20", @id = "ddlNewCountry" })
        <label id="lblCountryName" style="color:red;display:none"></label>
    </div>
</div>
