@model BhagwatiSamaj.Models.City
<div class="row">
    <div class="col-sm-12">
        <label>City Name<span class="color-red">*</span></label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control margin-bottom-20", @id = "txtNewCity" })
        <label id="lblStateName" style="color:red;display:none"></label>
    </div>
    <div class="col-sm-12">
        <label>Select State<span class="color-red">*</span></label>
        @{
            ViewBag.StateList = ((List<BhagwatiSamaj.Models.State>)ViewBag.StateList).Where(x => x.Id != 0);
        }
        @Html.DropDownListFor(x => x.StateId, new SelectList(ViewBag.StateList, "Id", "Name", ViewBag.StateId), new { @class = "form-control margin-bottom-20", @id = "ddlNewState" })
        <label id="lblCountryName" style="color:red;display:none"></label>
    </div>
</div>
