@{
    ViewBag.Title = "Gyativad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Right click on following image and click on Save</h2>
<img src="@Url.Content("~/Content/img/GyatiVad.TIF")" alt="Gyativad Image" />
<img src="@Url.Content("~/Content/img/mantra.jpg")" style="width:50%" />
