@model IEnumerable<BhagwatiSamaj.Models.MatrimonialsViewModel>

@if (Model != null)
{
    foreach (var candidate in Model)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="funny-boxes funny-boxes-colored funny-boxes-blue">
                    <div class="row">
                        <div class="col-md-3 funny-boxes-img text-center" style="border-right:1px solid yellow">
                            @if (candidate.Photo != null && candidate.Photo.Length > 0)
                            {
                                <img alt="" style="max-height: 300px;margin: 0px auto; max-width: 200px;" src="@(Url.Content(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["MatrimonialPhotoPath"]) + candidate.Photo))" class="img-responsive">
                            }
                        </div>
                        <div class="col-md-9">
                            <h2><a href="#">@((candidate.FullName).ToUpper() + " (" + candidate.ContactNo + ")")</a></h2>
                            <p>Address : @candidate.Address</p>
                            <a class="btn-u btn-u-red" href="@Url.Action("Detail", "Matrimonials", new { PersonId = candidate.Id })">More Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    }
}
else
{
    <text>
        There is no Candidate
    </text>
}